.menuHorizontal {
	min-width: 220px !important;
}

.menuVertical .ui-menu-list{
	padding-left: 10px;
}

.ui-menu .ui-menu-parent .ui-menu-child {
	width: 220px;
	text-align: left;
}

.ui-menuitem{
	min-width: 80px !important;
}

.ui-menu .ui-menuitem-text {
	float: left;
}

.ui-menu .ui-menuitem-link {
	font-weight: 400;
	line-height: 16px;
	cursor: pointer;
}

.ui-widget-header .ui-inputfield,.ui-widget-content .ui-inputfield {
	font-weight: normal;
	width: 200px;
}

.ui-datatable  {
	table-layout:fixed;
	width:100%;
	overflow:hidden;
	word-wrap:break-word;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	padding: 4px 10px;
	overflow: hidden;
	white-space: normal;
	border-width: 1px;
	border-style: solid;
}

.ui-picklist .ui-picklist-list {
	list-style-type: none;
	width: 320px;
}

.ui-picklist .ui-picklist-caption {
	text-align: center;
	padding: 4px 10px 4px 10px;
	border-bottom: 0px none;
	width: 300px;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
	font-weight: normal;
	width: 200px;
}

.ui-panelgrid td, .ui-panelgrid tr {
    border: none!important;
}
