html {
	background: #fff;
}

body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 100%;
	background: url(#{request.contextPath}/resources/images/site/header.png) repeat-x;
}

p {
	text-align: justify;
	margin: 0 0 10px 0;	
}

h1 {
	font-size: 25px;
	color: #6F6F6F;
	margin: 5px 0px 10px 0px;
}

h2 {
	font-size: 12px;
}

a:visited {
	color: inherit;
}

.div_container {
	width: 1024px;
	margin: auto;
}

.header {
	height: 60px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 20px 0px;
	line-height: 1.5em;
	vertical-align: middle;
}

.logo_img {
	width: 15%;
	margin: 0px 0px 0px 0px;
}

.logo_img img{
	margin-bottom: 5px;
}

.logo_area {
	width: 65%;
	font-weight: bold;
	color: #FFFFF3;
	text-shadow: 1px 1px #404040;
	margin: 0px 0px 0px 0px;
	text-align: center;
}
#logo_texto_principal {
	font-size: 30px;	
	margin: 0px 0px 0px 0px;
}

#logo_texto_secundario {
	font-size: 18px;
	margin: 0;
	padding-top: 12px;
}

.info_adicional {
	width: 20%;
}

.info_adicional table{
	height: 100%;
}

#div_theme{
	font-size: 8px;
	line-height: 1.5em;
	margin-top: 5px;
	margin-left: 30px;
}

#div_info_usuario{
	font-size: 11px;
	line-height: 1.5em;
	color: #FFFFFF;
	padding-bottom: 5px;
	text-align: right;
}

#div_info_usuario a{
	font-size: 10px;
	line-height: 1.5em;
	color: #FFFFFF;
}

.field {
	float: left;
	width: 234px;
	height: 23px;
	border: none;	
	border: none;
	color : #ccc;
	font-size: 15px;
	padding: 5px 3px 0 3px;
	background: #000;
	border: 1px solid #333;
}

#div_menu {
	height: 30px;
	width: 1024px;
	margin: 0px 0 0 0;
}

#div_content_area {
	width: 1024px;
}

#div_content {
	width: 600px;
	float: left;
}

.div_section_title {
	width: 278px;
	height: 30px;
	background: url(#{request.contextPath}/resources/images/site/div_section_title.jpg);
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 18px;
	color: #666;
	padding: 10px 0 0 20px;
}

.div_section_bottom {
	width: 258px;
	background: url(#{request.contextPath}/resources/images/site/div_section_bottom.jpg) bottom no-repeat;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 5px 20px 10px 20px;
}

#div_bottom_area {
	background: url(#{request.contextPath}/resources/images/site/div_bottom.jpg) #000 repeat-x;
	width: 100%;
	padding: 20px 0;
}

.div_section_1 {
	width: 220px;
	float: left;
	border: 1px solid #292929;
	padding: 20px 20px 10px 20px;
	margin: 0 20px 0 0;
}

.div_section_2 {
	width: 408px;
	float: right;
	border: 1px solid #292929;
	padding: 20px 20px 10px 20px;
	margin: 0;
}

.div_section_2 p{
	color: #999;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
}

#div_footer {
	width: 100%;
	color: #AAA;
	font-size: 11px;
	margin: 10px 0 0 0;
	padding: 0;
	text-align: center;
}

#div_footer a {
	color: #AAA;
	text-decoration: none;
}

#div_footer a:hover {
	color: #FFF;
}

.div_list {
	color: #333;
	text-align: justify;
	list-style: none;
	padding: 0 0 0 10px;
}

.div_list li {
	font-size: 11px;
	list-style: disc;
	padding: 0px;
	margin: 5px 0px;
}

.div_list a {
	color: #333;
	text-decoration: none;
}

.div_list a:hover {
	color: #0066CC;
	text-decoration: underline;
}

.div_gray_list li, .div_gray_list a {
	color: #999;
}

.div_gray_list a:hover {
	color: #FFF;
}

.cleaner {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}

.tablenoborder{
	border-width: 0px;
	border-style: none;
	border-color: transparent;
}

.table_label{
	width: 25%;
	border: 0px none;
}

.table_value{
	width: 30%;
}

.table_error{
	width: 45%;
}

textarea[disabled],input[type="text"][disabled],input[type="password"][disabled],select[disabled] {
	color: #000000;
	cursor: default;
}

.link{
	text-decoration: underline;
	cursor: pointer;
}

.filaRoja{
	background-image: url(#{request.contextPath}/resources/images/alert.png);
	background-repeat: no-repeat;
	background-position: float left;
}
.hidden {
	display: none;
}
.bolderResalt {
	color: #fff;
	font-weight: bold;
	background-color: #68727B;
}
.icon-excel {
	background-image: url(#{request.contextPath}/resources/images/icon-excel.png) !important;
}
.icon-pdf {
	background-image: url(#{request.contextPath}/resources/images/icon-pdf.png) !important;
}

.boton_ayuda {
	float: left; 
	display: inline;
	padding-top: 3px;
}

.uploadcol1 {
	width: 48%;	
	vertical-align: top;
}
.uploadcol2 {
	width: 4%;
	vertical-align: top;	
}
.uploadcol3 {
	width: 48%;
	vertical-align: top;	
}
.fila_verde{
	background-color: #D6EFDE;
}
.fila_rojo{
	background-color: #FFD6CC;
}

.contenido{
	font-size: 15px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.bolderResalt {
	color: #fff;
	font-weight: bold;
	background-color: #68727B;
}