<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>SGIPA - POTABILIZADORA DE AGUA NUESTRA SEÑORA DE LA PEÑA</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="title"
		content="SGIPA - POTABILIZADORA DE AGUA NUESTRA SEÑORA DE LA PEÑA" />
	<meta name="description"
		content="SGIPA - POTABILIZADORA DE AGUA NUESTRA SEÑORA DE LA PEÑA" />
	<meta name="keywords"
		content="SGIPA - POTABILIZADORA DE AGUA NUESTRA SEÑORA DE LA PEÑA" />
	<meta name="language" content="es" />
	<meta name="subject"
		content="SGIPA - POTABILIZADORA DE AGUA NUESTRA SEÑORA DE LA PEÑA" />
	<meta name="robots" content="All" />
	<meta name="copyright"
		content="http://about.me/cristto.tolosa/below/backstory" />
	<meta name="abstract"
		content="SGIPA - POTABILIZADORA DE AGUA NUESTRA SEÑORA DE LA PEÑA" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<!-- 	<link rel="shortcut icon" href="#{request.contextPath}/resources/images/favicon.ico" /> -->
	<!-- 	<h:outputStylesheet library="css" name="site_styles.css"/> -->
	<!--     <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/prime_styles.css" /> -->
</h:head>
<h:body>
	<div id="headerDiv" align="center">
		<p:graphicImage value="/resources/images/log agua.png" />
		<p:graphicImage value="/resources/images/TITULO.png" />
		<p:graphicImage value="/resources/images/nameSoftware.jpg" />
	</div>
	<div id="div_menu">
		<h:form>
			<p:growl id="messages" />

			<p:menubar>
				<p:submenu label="Clientes">
					<p:menuitem value="Consultar" outcome="/clients" />
				</p:submenu>

				<p:submenu label="Pedidos">
					<p:menuitem value="Registrar pedido" outcome="/orders"
						icon="ui-icon-arrowreturnthick-1-w" />
				</p:submenu>

				<p:submenu label="Devoluciones">
					<p:menuitem value="Devoluciones" outcome="/receptions" />
				</p:submenu>

				<p:submenu label="Reportes">
					<p:menuitem value="Pedidos" outcome="/orderReport" />
					<p:menuitem value="Inventario" outcome="/inventoryReport" />
				</p:submenu>

				<f:facet name="options">
					<p:button type="button" value="Salir"
						outcome="login" icon="ui-icon-extlink" />
				</f:facet>
			</p:menubar>
		</h:form>
	</div>

	<div id="div_content_area">
		<!--  content -->

		<ui:insert name="content">
		</ui:insert>
	</div>

</h:body>
</html>
