<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">

		<h2>Clientes</h2>


		<p:dataTable var="client" value="#{clientList}">
			<p:column headerText="Id">
				<h:outputText value="#{client.id}" />
			</p:column>

			<p:column headerText="Nombre">
				<h:outputText value="#{client.name}" />
			</p:column>

			<p:column headerText="Apellido">
				<h:outputText value="#{client.lastName}" />
			</p:column>

			<p:column headerText="Direccion">
				<h:outputText value="#{client.streetAddress}" />
			</p:column>
		</p:dataTable>


	</ui:define>
</ui:composition>
