<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/seam/faces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form>

			<div id="headerDiv" align="center">
				<p:graphicImage value="/resources/images/home.jpg" />
			</div>
			<div id="contentDiv" align="center">
				<h3>BIENVENIDO AL SOFTWARE DE GESTION DE INVENTARIOS PARA LA
					POTABILIZADORA DE AGUA NUESTRA SEÑORA DE LA PEÑA</h3>
			</div>

		</h:form>
	</ui:define>
</ui:composition>