<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:p="http://primefaces.org/ui"
   >
   
         <div> 
			<div style="text-align: center; width: 100%">
				<br/>
				<h1>Pagina Principal</h1>
				<br /> 
				<br/>
				<br/>
				<ui:include src="/login.xhtml" />
				<hr></hr>
			</div>
			
         </div>
         <div class="clear"></div> 
   
</ui:composition>
