<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">

		<h2>Reporte de inventario</h2>


		<p:dataTable var="inventoryItem" value="#{inventoryList}">
			<p:column headerText="Id">
				<h:outputText value="#{inventoryItem.id}" />
			</p:column>

			<p:column headerText="Nombre Item">
				<h:outputText value="#{inventoryItem.name}" />
			</p:column>

			<p:column headerText="Cantidad">
				<h:outputText value="#{inventoryItem.quantity}" />
			</p:column>

			<p:column headerText="Valor unitario">
				<h:outputText value="#{inventoryItem.value}" />
			</p:column>
		</p:dataTable>


	</ui:define>
</ui:composition>
