<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<div id="headerDiv" align="center">
		<p:graphicImage value="/resources/images/log agua.png" />
		<p:graphicImage value="/resources/images/TITULO.png" />
		<p:graphicImage value="/resources/images/nameSoftware.jpg" />
	</div>

	<div id="loginDiv" align="center">
		<h:form id="login">

			<p:panel id="loginPanel">
				<h:panelGrid columns="2" cellpadding="10">
					<p:graphicImage value="/resources/images/login.png" />

					<h:panelGrid columns="1">
						<h:panelGroup>
							<h3>
								<h:outputLabel value="#{messages['seguridad.login.mensaje']}" />
							</h3>
						</h:panelGroup>
						<h:panelGroup>

							<p:panel id="panel">
								<h:panelGrid columns="3" cellpadding="5"
									styleClass="tablenoborder"
									columnClasses="table_label, table_value, table_error">
									<h:outputLabel for="username" value="Nombre de usuario" />
									<p:inputText id="username" label="nombreUsuario"
										value="#{loginController.newUser.userName}" />
									<p:message for="username" id="msg_username" display="default" />


									<h:outputLabel for="password" value="Contrasena" />
									<p:password id="password" label="Contrasena"
										value="#{loginController.newUser.userPassword}" />
									<p:message for="password" id="msg_password" display="default" />

								</h:panelGrid>
							</p:panel>
							<br />
							<div id="loginButtonDiv" align="center">
								<p:commandButton value="Iniciar sesion" id="submitLogin"
									action="#{loginController.login()}" ajax="false" />
							</div>
						</h:panelGroup>
					</h:panelGrid>

				</h:panelGrid>
			</p:panel>

			<p:blockUI block="loginPanel" widgetVar="bui" />

		</h:form>
	</div>

</ui:composition>
