<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">

		<div id="orderDiv" align="center">
			<h:form id="orderForm">
				<h2>Registrar Pedido</h2>
				<p:messages id="msgs" />
				<p:panelGrid columns="2">

					<h:outputLabel for="selectClient" value="Cliente" />
					<p:selectOneMenu id="selectClient" required="true" label="Cliente"
						value="#{orderController.selectedClient}"
						converter="clientConverter">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{clientList}" var="et"
							itemLabel="#{et.name}" itemValue="#{et}" />
						<p:ajax
							listener="#{orderController.updateDataComboDeliveryPoint()}"
							update="selectDeliveryPoint, selectClient"></p:ajax>
					</p:selectOneMenu>					

					<h:outputLabel for="selectDeliveryPoint" value="Punto de entrega" />
					<p:selectOneMenu id="selectDeliveryPoint" label="puntoEntrega"
						value="#{orderController.newOrder.deliveryPoint}"
						converter="deliveryPointConverter">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{deliveryPointsByClient}" var="et"
							itemLabel="#{et.name}" itemValue="#{et}" />
					</p:selectOneMenu>					

					<h:outputLabel for="bottlesNumber" value="Numero de Botellones" />
					<h:inputText id="bottlesNumber" value="#{bottle.quantity}"
						required="true">
						<p:ajax listener="#{orderController.updateTotalAndPriceFields}"
							update="total, orderValue"></p:ajax>
					</h:inputText>
					
					<h:outputLabel for="basketsNumber" value="Numero de Canastas" />
					<h:inputText id="basketsNumber" value="#{basket.quantity}"
						required="true">
						<p:ajax listener="#{orderController.updateTotalAndPriceFields}"
							update="total, orderValue"></p:ajax>
					</h:inputText>
					
					<h:outputLabel for="orderDate" value="Fecha de pedido" />
					<p:calendar id="orderDate"
						value="#{orderController.newOrder.orderDate}" showOn="button"
						required="true" />
					
					<h:outputLabel for="total" value="Total Items" />
					<h:inputText id="total" value="#{orderController.tempTotal}"
						disabled="true" />
					
					<h:outputLabel for="orderValue" value="Valor pedido" />
					<h:inputText id="orderValue" value="#{orderController.tempPrice}"
						disabled="true" />
					
				</p:panelGrid>


				<p:panelGrid columns="2">
					<p:commandButton id="registerOrder"
						actionListener="#{orderController.click()}" value="Registrar"
						icon="ui-icon-check" ajax="false" />

					<p:commandButton id="cancelOrder" action="home.xhtml"
						value="Cancelar" ajax="false" />
				</p:panelGrid>

				<p:dialog modal="true" resizable="false"
					header="Orden registrada exitosamente" widgetVar="dlg"
					showEffect="fold">

				</p:dialog>

			</h:form>
		</div>

	</ui:define>
</ui:composition>
