<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">

		<div id="orderReportsDiv" align="center">

			<h2>Reporte de Pedidos</h2>
			<h:form id="orderReportForm">

				<p:messages id="msgs" />
				<p:panelGrid columns="2">

					<h:outputLabel for="orderReportInitDate" value="Fecha inicial" />
					<p:calendar id="orderReportInitDate"
						value="#{reportController.searchStartDate}" showOn="button"
						required="true" />

					<h:outputLabel for="orderReportFinalDate" value="Fecha final" />
					<p:calendar id="orderReportFinalDate"
						value="#{reportController.searchFinalDate}" showOn="button"
						required="true" />

					<h:outputLabel for="selectClientReport" value="Cliente" />
					<p:selectOneMenu id="selectClientReport" label="Cliente"
						value="#{reportController.searchSelectedClient}"
						converter="clientConverter">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{clientList}" var="et"
							itemLabel="#{et.name}" itemValue="#{et}" />

						<p:ajax
							listener="#{reportController.updateDataComboDeliveryPointReport()}"
							update="selectDeliveryPointReport"></p:ajax>
					</p:selectOneMenu>

					<h:outputLabel for="selectDeliveryPointReport"
						value="Punto de entrega" />
					<p:selectOneMenu id="selectDeliveryPointReport"
						label="puntoEntrega"
						value="#{reportController.searchSelectedDeliveryPoint}"
						converter="deliveryPointConverter"
						disabled="#{reportController.disableDeliveryPointReport}">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{deliveryPointsByClientReport}" var="et"
							itemLabel="#{et.name}" itemValue="#{et}" />
					</p:selectOneMenu>

				</p:panelGrid>

				<div id="searchOrderReport" align="center">
					<p:commandButton value="Buscar" update="orderReportForm"
						ajax="true" actionListener="#{reportController.searchOrders}" />
				</div>


				<p:dataTable var="order" value="#{searchOrderList}">
					<p:column headerText="Id">
						<p:commandLink id="ajax" value="#{order.id}"
							action="#{reportController.loadOrderDetailList(order)}"							
							oncomplete="PF('dlg').show();"
							update="@widgetVar(dlg)"
							process="@this">
						</p:commandLink>
					</p:column>

					<p:column headerText="Fecha Pedido">
						<h:outputText value="#{order.orderDate}">
							<f:convertDateTime pattern="MM/dd/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="Cliente">
						<h:outputText value="#{order.deliveryPoint.client.name}" />
					</p:column>

					<p:column headerText="Punto de entrega">
						<h:outputText value="#{order.deliveryPoint.name}" />
					</p:column>

					<p:column headerText="Total items">
						<h:outputText value="#{order.total}" />
					</p:column>

					<p:column headerText="Precio">
						<h:outputText value="#{order.price}" />
					</p:column>
				</p:dataTable>

				<p:dialog id="orderDetailDialog" header="Reporte detallado de pedidos" widgetVar="dlg"
					resizable="false">
					<h:form id="orderDetailDialogForm">
					<p:dataTable var="orderDetail" value="#{orderDetailList}">
						<p:column headerText="Id">
							<h:outputText value="#{orderDetail.id}" />
						</p:column>

						<p:column headerText="Fecha Pedido">
							<h:outputText value="#{orderDetail.orderDateDetail}">
								<f:convertDateTime pattern="MM/dd/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="Cliente">
							<h:outputText value="#{orderDetail.order.deliveryPoint.client.name}" />
						</p:column>
						
						<p:column headerText="Punto entrega">
							<h:outputText value="#{orderDetail.order.deliveryPoint.name}" />
						</p:column>
						
						<p:column headerText="Nombre Item">
							<h:outputText value="#{orderDetail.itemName}" />
						</p:column>
						
						<p:column headerText="Total">
							<h:outputText value="#{orderDetail.total}" />
						</p:column>
						
						<p:column headerText="Precio">
							<h:outputText value="#{orderDetail.price}" />
						</p:column>

					</p:dataTable>
					</h:form>
				</p:dialog>

			</h:form>
		</div>
	</ui:define>
</ui:composition>
