<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">

		<div id="receptionDiv" align="center">
			<h:form id="receptionForm">
				<h2>Registrar Devoluciones</h2>

				<p:panelGrid columns="2">

					<h:outputLabel for="selectClientRx" value="Cliente" />
					<p:selectOneMenu id="selectClientRx" required="true"
						label="Cliente" value="#{receptionController.selectedClientRx}"
						converter="clientConverter">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{clientList}" var="et"
							itemLabel="#{et.name}" itemValue="#{et}" />
					</p:selectOneMenu>

					<h:outputLabel for="bottlesNumberRx" value="Numero de Botellones" />
					<h:inputText id="bottlesNumberRx" value="#{bottleRx.quantity}" />

					<h:outputLabel for="basketsNumberRx" value="Numero de Canastas" />
					<h:inputText id="basketsNumberRx" value="#{basketRx.quantity}" />

					<h:outputLabel for="receptionDate" value="Fecha devolución" />
					<p:calendar id="orderDate"
						value="#{receptionController.reception.receptionDate}"
						showOn="button" />


				</p:panelGrid>


				<p:panelGrid columns="2">
					<p:commandButton id="registerReception"
						actionListener="#{receptionController.click()}" value="Registrar"
						icon="ui-icon-check" ajax="false" />

					<p:commandButton id="cancelOrder" action="home.xhtml"
						value="Cancelar" ajax="false" />
				</p:panelGrid>

				<p:dialog modal="true" resizable="false" header="Values"
					widgetVar="dlg" showEffect="fold">
					<p:panelGrid id="display" columns="2" columnClasses="label,value">
						<h:outputText value="Fecha pedido" />
						<h:outputText
							value="#{receptionController.reception.receptionDate}">
							<f:convertDateTime pattern="MM/dd/yyyy" />
						</h:outputText>
					</p:panelGrid>
				</p:dialog>

			</h:form>

		</div>
	</ui:define>
</ui:composition>
